@import 'themeCommons.scss';

.profile-layout {
    width: 100%;
    height: 100%;
    color: var(--primary-color);

    .header {
        background-color: var(--secondary-color);
        border-radius: map-get($br, s);
        font-size: map-get($fs, l);
        height: fit-content;
        margin: 0 map-get($space-rem, s);
        padding: 0 map-get($space-rem, s);
    }

    .profile {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        div {
            display: flex;
            flex-direction: column;
            background-color: var(--secondary-color);
            border-radius: map-get($br, s);
            margin: map-get($space-rem, s);
        }

        &-left {
            align-items: center;

            .close-button {
                color: var(--primary-color);
                background: transparent;
                border: none;
                cursor: pointer;
                outline: none;
                margin-left: auto;

                &:hover {
                    color: var(--primary-color-hover);
                }
            }

            .photo-layout {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: map-get($space-rem, m);

                .avatar {
                    font-size: map-get($fs, xxl);
                }
            }

            .photo-upload-button {
                border-radius: map-get($br, s);
                color: var(--primary-color);
                background-color: var(--button-color);
                border-color: var(--button-color);
                font-size: map-get($fs, xxs);
                margin-bottom: map-get($space-rem, m);
                width: 95%;
                cursor: pointer;
                align-items: center;
            }
        }

        &-center {
            flex-basis: 40%;
            input {
                margin-bottom: map-get($space-rem, xl);
            }
        }

        &-center,
        &-right {
            flex-grow: 1;
            padding-left: map-get($space-rem, xl);
            padding-right: map-get($space-rem, xl);

            input {
                color: var(--primary-color);
                font-size: map-get($fs, xs);
                background-color: transparent;
                outline: none;
                border: none;
                border-bottom: 1px solid var(--primary-color);
                padding-left: map-get($space-rem, m);

                &::placeholder {
                    color: var(--primary-color-hover);
                }

                &:focus {
                    border-bottom-color: var(--button-color);
                }
            }
        }

        &-right {
            flex-basis: 50%;

            .current-status {
                width: fit-content;
                flex-direction: row;
                flex-wrap: wrap;
                gap: map-get($space-rem, m);

                svg {
                    font-size: map-get($fs, m);
                }

                .complete {
                    color: var(--success-color);
                }

                div {
                    flex-direction: row;
                    align-items: center;
                    color: var(--layout-color);

                    p {
                        padding-left: map-get($space-rem, s);
                    }
                }

            }

            .password-management {
                .update-button {
                    display: flex;
                    padding: 0 map-get($space-rem, m);
                    width: fit-content;
                    flex-direction: row;
                    font-size: map-get($fs, xxs);
                    border-radius: map-get($br, s);
                    gap: map-get($space-rem, m);
                    color: var(--primary-color);
                    background-color: var(--button-color);
                    border-color: var(--button-color);
                    align-items: center;
                    cursor: pointer;

                    svg {
                        font-size: map-get($fs, s);
                    }
                }

                .update-password-form {
                    flex-direction: column;
                    width: fit-content;
                    padding: map-get($space-rem, m);
                    border-radius: map-get($br, s);
                    box-shadow: -4px 4px 8px var(--primary-color-hover);

                    .divider {
                        margin: map-get($space-rem, s);
                    }

                    div {
                        padding: map-get($space-rem, s);
                        flex-direction: row;

                        svg {
                            margin-right: map-get($space-rem, s);
                        }

                        input {
                            color: var(--primary-color);
                            font-size: map-get($fs, xxs);
                            border: none;
                            border-bottom: 1px solid var(--primary-color);
                            outline: none;

                            &::placeholder {
                                color: var(--primary-color-hover);
                            }

                            &:focus {
                                border-bottom-color: var(--button-color);
                            }
                        }
                    }

                    button {
                        font-size: map-get($fs, xxs);
                        padding: map-get($space-rem, s) map-get($space-rem, m);
                        color: var(--primary-color);
                        background-color: var(--secondary-color);
                        border-color: var(--success-color);
                        border-radius: map-get($br, s);
                        cursor: pointer;
                    }
                }

                margin-bottom: map-get($space-rem, m);
            }
        }

        .confirm-buttons {
            flex-direction: row;
            justify-content: flex-end;
            padding-bottom: map-get($space-rem, m);

            .save,
            .cancel {
                color: var(--primary-color);
                padding: map-get($space-rem, s);
                font-size: map-get($fs, xxs);
                cursor: pointer;
                border-radius: map-get($br, s);
            }

            .save {
                background-color: var(--button-color);
                border-color: var(--button-color);
            }

            .cancel {
                margin-left: map-get($space-rem, m);
                background-color: var(--cancel-color);
                border-color: var(--cancel-color);
            }
        }
    }
}